
<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>Homepage - Semantic</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style type="text/css">

    .hidden.menu {
      display: none;
    }

    .masthead.segment {
      min-height: 100px;
      padding: 1em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead h1.ui.header {
      margin-top: 1.7em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }

    .ui.vertical.stripe {
      padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
      font-size: 2em;
    }
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }

    .quote.stripe.segment {
      padding: 0em;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }

    @media only screen and (max-width: 700px) {
      .ui.fixed.menu {
        display: none !important;
      }
      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
        display: none;
      }
      .secondary.pointing.menu .toc.item {
        display: block;
      }
      .masthead.segment {
        min-height: 350px;
      }
      .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
      }
      .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
      }
    }


  </style>

  <script>
  $(document)
    .ready(function() {

      // fix menu when passed
      $('.masthead')
        .visibility({
          once: false,
          onBottomPassed: function() {
            $('.fixed.menu').transition('fade in');
          },
          onBottomPassedReverse: function() {
            $('.fixed.menu').transition('fade out');
          }
        })
      ;

      // create sidebar and attach to menu open
      $('.ui.sidebar')
        .sidebar('attach events', '.toc.item')
      ;

    })
  ;
  </script>
</head>
<body>

<!-- Page Contents -->
<div class="pusher">

  <div class="ui vertical stripe segment">
    <div class="ui stackable grid container">
      <div class="centered row">
        <div class="sixteen wide column">
          <p>Thanks for your pledge <%= @donor.name %>.</p>
          <h1 class="ui header">Why wait?</h1>
          <p>She's already used it <%= @total_offense_count %> times since calling the election.</p>

          <div class="ui statistics">
            <div class="statistic">
              <div class="value">
                <%= @total_offense_count %>
              </div>
              <div class="label">
                Strong and stables
              </div>
            </div>
            <div class="statistic">
              <div class="value">
                x
              </div>
            </div>
            <div class="statistic">
              <div class="value">
                <%= number_to_currency(@donor.pledge / 100, :unit => "£") %>
              </div>
              <div class="label">
                Your pledge
              </div>
            </div>
            <div class="statistic">
              <div class="value">
                =
              </div>
            </div>
            <div class="statistic">
              <div class="value">
                <%= number_to_currency((@donor.pledge / 100) * @total_offense_count, :unit => "£") %>
              </div>
              <div class="label">
                Donation
              </div>
            </div>
          </div>

          <div class="ui hidden divider"></div>
          <small>Or choose another amount</small>
          <div class="ui hidden divider"></div>

          <div class="ui one column center aligned container">
            <button class="ui basic primary button custom-donation-value" value="500">£5</button>
            <button class="ui basic primary button custom-donation-value" value="1000">£10</button>
            <button class="ui basic primary button custom-donation-value" value="1500">£15</button>
            <button class="ui basic primary button custom-donation-value" value="2500">£25</button>
            <button class="ui basic secondary button custom-donation-value" value="<%= @donor.pledge * @total_offense_count %>"><%= number_to_currency((@donor.pledge / 100) * @total_offense_count, :unit => "£") %></button>
          </div>
        <div class="ui hidden divider"></div>
        <div class="ui centered grid">
          <div class="ui ten wide column">
            <div class="ui center aligned segment">
              <%= form_tag({controller: "landing", action: "charge"}, method: "post", class: "ui equal width form", id: "donation-form") do %>
                <label for="card-element">
                  Donate securely with your credit or debit card
                </label>
                <div class="ui hidden divider"></div>
                <div id="card-element"></div>
                <input type="hidden" name="email" value="<%= @donor.email %>">
                <input type="hidden" name="amount" value="<%= (@donor.pledge * @total_offense_count).to_i %>">
                <!-- Used to display Element errors -->
                <div id="card-errors" role="alert"></div>
                <div class="ui hidden divider"></div>
                <button class="ui primary button">Donate <span id="donation-button-value"><%= number_to_currency((@donor.pledge / 100) * @total_offense_count, :unit => "£") %></span></button>
              <% end %>
            </div>
          </div>
        </div>


        </div>
      </div>
    </div>
  </div>

</div>

</body>

<script src="https://js.stripe.com/v3/"></script>

</html>
